## Build Folders
bin/
obj/

## Rider / Resharper
.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user

## VS Code
.vscode/

## User-specific files
*.user
*.userosscache
*.suo
*.userprefs

## Logs
*.log

## Temp
*.tmp
*.temp
*.cache
*.bak

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

## Publish output
artifacts/
wwwroot/dist/
wwwroot/lib/

## ASP.NET Secret files
secrets.json

## App settings (Sensitive)
appsettings.Local.json
appsettings.Development.json

# If you want to ignore all except base:
# !appsettings.json

## EF Core
Migrations/**/obj/
Migrations/**/bin/

## OS specific
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

.vs/